<div class="container">
  <br />
  <div class="row">
    <div class="col-md-3">
      <img src="assets/pools/Pool_1.jpg" (click)="open(1)" />
    </div>
    <div class="col-md-3">
      <img src="assets/pools/Pool_2.jpg" (click)="open(2)" />
    </div>
    <div class="col-md-3">
      <img src="assets/pools/Pool_3.jpg" (click)="open(3)" />
    </div>
    <div class="col-md-3">
      <img src="assets/pools/Pool_4.jpg" (click)="open(4)" />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-3">
      <img src="assets/pools/Pool_5.jpg" (click)="open(5)" />
    </div>
    <div class="col-md-3">
      <img src="assets/pools/Pool_6.jpg" (click)="open(6)" />
    </div>
    <div class="col-md-3">
      <img src="assets/pools/Pool_7.jpg" (click)="open(7)" />
    </div>
    <div class="col-md-3">
      <img src="assets/pools/Pool_8.jpg" (click)="open(8)" />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-3">
      <img src="assets/pools/Pool_9.jpg" (click)="open(9)" />
    </div>
    <div class="col-md-3">
      <img src="assets/pools/Pool_10.jpg" (click)="open(10)" />
    </div>
    <div class="col-md-3">
      <img src="assets/pools/Pool_11.jpg" (click)="open(11)" />
    </div>
  </div>
</div>