<div class="container">
  <h3>
    <strong>Built on Engineering Excellence</strong> - <a href="http://fliphtml5.com/ulgk/ifql">View Brochure</a>
  </h3>
  <p>
    <img src="./assets/products/steelforgealt.png">
  </p>
  <div>
    <img src="./assets/products/triple.png">
    <b>Triple Blend Technology</b><br>
    The top and bottom flanges of Legacy steel panels each measure over half a foot (7").
  </div>
  <p>Our Legacy Edition Pools are built strong, thanks to an engineering process that incorporates a unique&nbsp;
    <strong>7" triple-bend design</strong>&nbsp;on the top and bottom flanges. The triple bend offers more strength than a standard steel panel.
  </p>
  <div>
    <img src="./assets/products/double.png">
    <b>Double Blend Technology</b><br>Generation &amp; Royal&nbsp;steel panels each measure over half a foot (6").
  </div>
  <p>
    <span>Our A-frame steel braces are the strongest in the industry, providing uncompromising support to our pool walls.</span>
  </p>
  <hr>
  <h3>
    <strong>Capped with Aesthetic Perfection</strong>
  </h3>
  <p>Imperial's craftsmanship isn't all hidden beneath the surface. We offer elegant, exclusive features you can see and touch that provide aesthetic appeal to every pool we manufacture:</p>
  <ul>
    <li>
      <strong>Interior Pool Finishes:</strong> Soft to the touch, our interior pool finishes come in a variety of alluring patterns and are simple to replace, allowing your pool's interior to change with you over time.</li>
    <li>
      <strong>Progressive Coping:</strong> Locks your concrete deck against the pool walls with a contoured shape, fewer seams, and a low profile edge.</li>
  </ul>
  <hr>
  <h3><strong>Limitless Options</strong></h3>
  <p>With the pliability of steel, you can create your own custom-designed inground pool or choose from over 80 standard pool shapes. Anything you can dream, we can manufacture.</p>
  <div>
    <img src="./assets/products/strengthsteel.jpg">
  </div>
</div>
    