<div class="header fixed-top">
  <div class="row" style="background: #1f425d">
    <div class="col-md-12">
      <div class="container">
        <div class="row text-light">
          <div class="col-md-6">
            <label>Cypress Pools Ltd.</label>
          </div>
          <div class="col-md-6 text-right">
            <svg class="bi bi-clock" style="color: #35B1CA" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm8-7A8 8 0 110 8a8 8 0 0116 0z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M7.5 3a.5.5 0 01.5.5v5.21l3.248 1.856a.5.5 0 01-.496.868l-3.5-2A.5.5 0 017 9V3.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
            </svg> &nbsp;
            <label>Mon-Fri: 8am - 5pm</label> &nbsp;&nbsp;
            <svg class="bi bi-phone" style="color: #35B1CA" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11 1H5a1 1 0 00-1 1v12a1 1 0 001 1h6a1 1 0 001-1V2a1 1 0 00-1-1zM5 0a2 2 0 00-2 2v12a2 2 0 002 2h6a2 2 0 002-2V2a2 2 0 00-2-2H5z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M8 14a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
            </svg> &nbsp;
            <label><a href="tel:5187835232">(518) 783-5232</a></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-white">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="../../assets/logo.png" alt="Cypress Pools Ltd." style="height: 50px;">
          </div>
          <div class="col-md-8">
            <ul ngbNav #nav="ngbNav" class="nav-tabs">
              <li ngbNavItem>
                <a ngbNavLink routerLink="">Home</a>
              </li>
              <li ngbNavItem>
                <a ngbNavLink routerLink="pools">Swimming Pools</a>
              </li>
              <li ngbNavItem>
                <a ngbNavLink routerLink="products">Products</a>
              </li>
              <!-- <li ngbNavItem>
                <a ngbNavLink routerLink="about">About Us</a>
              </li> -->
              <li ngbNavItem>
                <a ngbNavLink routerLink="contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>