<div class="row bg-white">
  <div class="col-md-12">
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="padding-top: 10vh;">
          <div class="row">
            <div class="col-md-6">
              <h4>WHO WE ARE</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 text-center">
              <p>Since 1989 Cypress Pools has provided the capital region with world class service and installation of inground pools.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img src="./assets/backhoe.jpg" style="height: 35vh;"/>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
<div class="row"style="background: #35B1CA">
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>Our Team</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center">
          <img src="./assets/employees/defaultUser.jpg" style="width: 33vh;" />
          <label>Pat Conlon</label> <br />
          <label>President</label>
        </div>
        <div class="col-md-4 text-center">
          <img src="./assets/employees/defaultUser.jpg" style="width: 33vh;" />
          <label>Gary Nugent</label> <br />
          <label>Vice-President</label>
        </div>
        <div class="col-md-4 text-center">
          <img src="./assets/employees/defaultUser.jpg" style="width: 33vh;" />
          <label>Mark Broughton</label> <br />
          <label>Builder</label>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-4 text-center">
          <img src="./assets/employees/defaultUser.jpg" style="width: 33vh;" />
          <label>Matt Arnow</label> <br />
          <label>Concrete</label>
        </div>
        <div class="col-md-4 text-center">
          <img src="./assets/employees/defaultUser.jpg" style="width: 33vh;" />
          <label>Kevin Dube</label> <br />
          <label></label>
        </div>
        <div class="col-md-4 text-center">
          <img src="./assets/employees/defaultUser.jpg" style="width: 33vh;" />
          <label>Suzanne MacDaniel</label> <br />
          <label>Office Manager</label>
        </div>
      </div>
    </div>
  </div>
</div>