<div class="container" style="text-align: center;">
  <h2>Store hours for pickup only (doors will not be open)</h2>
  <h2>
    <p>Open Monday - Friday from 8:30am - 3:30pm</p>
  </h2>
  <br/>
  <div>
    The safety of our customers, staff and families is very important to us. During this difficult time, we want you to know that we are still here for you and you can reach us at
    <a href="mailto:cypresspools@nycap.rr.com">cypresspools@nycap.rr.com</a>. You can also call us at <a href="tel:5187835232">518-783-5232</a>. Until further notice we will offer curbside pick up. Please email or call us with your order. Thank you for your understanding.
  </div>
</div>
