<div class="container">
  <h3>
    <span style="text-decoration: underline;">
      <strong>Enhance your pool experience even more with these deluxe options!</strong>
    </span>
  </h3>
  <p>
    <strong>Ask your pool builder</strong> about the several enhancements available to complete your pool remodel. The possibilities to add comfort and beauty are endless!
  </p>
  <p>
    <img src="./assets/products/Colored_faceplates.png" width="175" align="left" hspace="7">
    <span style="text-decoration: underline;">
      <strong>Colored Faceplates, Fittings &amp; Main Drains</strong>
    </span>
  </p>
  <p>Color coordinate all the fittings and faceplates as well as your main drain so they blend into your pools interior finish.</p>
  <div style="clear: both;"><br/></div>
  <p>
    <img src="./assets/products/Handrails.png" width="175" align="left" hspace="7">
    <span style="text-decoration: underline;">
      <strong>Designer Hand Rails</strong>
    </span>
  </p>
  <p>Consider stylish alternatives to traditional hand rails. It’s the details that make all the difference!</p>
  <div style="clear: both;"><br/></div>
  <p>
    <img src="./assets/products/Water_features.png" width="175" align="left" hspace="7">
    <span style="text-decoration: underline;">
      <strong>Water Features</strong>
    </span>
  </p>
  <p>Transform your pool environment with water features that squirt, bubble or flow. These features are pure fun and look great!</p>
  <div style="clear: both;"><br/></div>
  <p>
    <img src="./assets/products/Lighting.png" width="175" align="left" hspace="7">
    <span style="text-decoration: underline;">
      <strong>Lighting</strong>
    </span>
  </p>
  <p>Turn on the lights and choose whatever color fits your mood at that moment, or for the entire evening. Lighting features create a whole new ambiance.</p>
  <div style="clear: both;"><br/></div>
  <p>
    <img src="./assets/products/Safety_cover.png" width="175" align="left" hspace="7">
    <span style="text-decoration: underline;">
      <strong>Safety Cover</strong>
    </span>
  </p>
  <p>While you’re upgrading your pool, protect your family with an attractive new safety cover, custom built for your pool.</p>
  <div style="clear: both;"><br/></div>
  <p>
    <img src="./assets/products/Sanitizing.png" width="175" align="left" hspace="7">
    <span style="text-decoration: underline;">
      <strong>Alternative Sanitizing Systems</strong>
    </span>
  </p>
  <p>Convert to low or non-chlorine system and make your pool water feel smooth and silky. A safer &amp; easier way to sanitize your pool.</p>
  <div style="clear: both;"><br/></div>
  <p>
    <img src="./assets/products/Automation.png" width="175" align="left" hspace="7">
    <span style="text-decoration: underline;">
      <strong>Control Automation</strong>
    </span>
  </p>
  <p>Control your pools features from cleaning and heating to lighting all from your cell phone or tablet, or with the touch of a button on your wall mounted control panel.</p>
  <div style="clear: both;"><br/></div>
  <p>
    <img src="./assets/products/Heaters.png" width="175" align="left" hspace="7">
    <span style="text-decoration: underline;">
      <strong>Heaters</strong>
    </span>
  </p>
  <p>Extend your pool season and enjoy a refreshing &nbsp;comfortable swim, whatever the weather.</p>
  <div style="clear: both;"><br/></div>
  <p>
    <img src="./assets/products/Pumps.png" width="175" align="left" hspace="7">
    <span style="text-decoration: underline;">
      <strong>Variable Speed Pumps</strong>
    </span>
  </p>
  <p>If you’re looking to reduce your pools monthly cost, a variable speed pump just might do the trick. These pumps are extremely quiet and the least expensive to operate.</p>
  <div style="clear: both;"><br/></div>
  <p>
    <img src="./assets/products/Robotic_cleaners.png" width="175" align="left" hspace="7">
    <span style="text-decoration: underline;">
      <strong>Robotic Cleaners</strong>
    </span>
  </p>
  <p>Spend more time enjoying your pool and let your robotic cleaner do all the work for you. They clean everywhere keeping your pool surface spotless.</p>
</div>