<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Products</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 box">
      <a href="/products/legacy-pools">
        <label class="product-title"><b>Legacy Edition Pools</b></label>
        <img src="./assets/products/legacyEdition.jpg"/>
        <p style="color: black;">Enhance your life and turn your backyard into an everyday vacation spot. We invite you to explore our proud heritage of excellence, built on steel, shaped by aesthetic beauty, and driven by innovation</p>
      </a>    
    </div>
    <div class="col-md-4 box">
      <a href="/products/safety-covers">
        <label class="product-title"><b>Safety Covers</b></label>
        <img src="./assets/covers/cover2.jpg"/>
        <p style="color: black;">Swimming pool safety covers reduce maintenance costs while protecting your family, your pets, and, of course, your pool.</p>
      </a>
    </div>
    <div class="col-md-4 box">
      <a href="/products/additional-options">
        <label class="product-title"><b>Additional Options</b></label>
        <img src="./assets/products/Water_features.png"/>
        <p style="color: black;">Ask your pool builder about the several enhancements available to complete your pool remodel. The possibilities to add comfort and beauty are endless.</p>
      </a>
    </div>
  </div>
</div>