<div class="container">
  <div>	
    <h1>Protect Your Family and Your Investment</h1>
    <p>Swimming pool&nbsp;safety covers&nbsp;reduce maintenance costs while protecting your family, your pets, and, of course, your pool. Our covers provide a protective barrier that keeps everything out of the pool, including Mother Nature. And when you open your pool again, there will be inviting, clean water waiting for you!</p>
    <div>
      <h3>Mesh Safety Covers</h3>
      <img src="./assets/covers/cover2.jpg" alt="Safety Covers for Imperial Pools" align="left" hspace="4">
      <p>Our mesh cover is engineered for a new level of protection. Built with reinforced mesh, box stitched thread at critical webbing joints, and equipped with heavy-duty suspension, it is designed to exceed expectations and is appropriate for demanding applications.</p>
    </div>
    <div style="clear: both;">&nbsp;</div>
    <div>
      <h3>Solid Vinyl Safety Covers</h3>
      <img src="./assets/covers/cover1.jpg" alt="Safety Covers For Imperial Pools" align="left" hspace="4">
      <p>Our solid cover creates a complete barrier to sunlight, dirt, debris, and water. Heavy-duty construction provides protection from the elements and prevents algae growth. That means less work and a faster spring pool opening. An optional pump or drain panel is required to meet ASTM safety standards.</p>
    </div> 
  </div>
</div>