<div class="row" style="background-color: rgb(235, 221, 28);">
  <div class="col-md-12" style="left: 35%;">
    <span style="font-size: 25px;"><b>Hours may vary please check <a href="https://www.facebook.com/cypresspoolsltd/">Facebook</a> for updated hours.</b></span>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <img src="./assets/home.jpg"/>
    <!-- <button class="covid-btn" [routerLink]="['/covid-19']">COVID-19 OPERATIONAL NOTICES</button> -->
    <div class="image-overlay">
      <div class="text-light font-weight-bold" style="font-size: 100px;">Cypress</div>
      <div class="text-light display-4" style="font-size: 100px;">Pools</div>
      <div class="bg-white" style="font-size: 50px;">Be Ready for Summer</div>
    </div>
  </div>
</div>
